<html lang="en">
<head>
  <meta charset="utf-8">
  <title>sign in</title>
  <link href="https://fonts.googleapis.com/css?family=Margarine&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/signin.css">
  <style>
    body {background: #E5E5E5; }
  </style>
</head>
<body>
  <div id="parentSection" class=e46_4>
    <div id="logo1" class="e46_5"></div>
    <div id="logo2" class="e46_6"></div>
    <form id="loginForm" action="/moeng/main" method="post">
      <input id="id" type="text" name="id" class="e46_17" placeholder=" Enter ID" required maxlength="10" autofocus>
      <input id="pw" type="password" name="password" class="e46_25" placeholder=" Enter Password" required maxlength="10">
      <button id="buttonLogin" class="e46_22" type="submit">LOG IN</button>
      <a id="buttonToSignupPage" class="e46_23" href="/moeng/signup">Sign Up</a>
    </form>
  </div>
<!--  <script src="/js/signin.js"></script>-->
</body>
</html>
